@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,700,700i,800');

/*html, body {*/
    /*height: 100%;*/
/*}*/

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: flex-end;
    background-image: url("../img/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 531px;
    padding-bottom: 16%;
    padding-left: 80px;
    height: 100vh;
    box-sizing: border-box;
    background-attachment: fixed;
}

.header-title {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.header-company-description {
    font-family: Lato, sans-serif;
    color:  #ffffff;
    font-size: 18px;
    margin-bottom: 28px;
}

.header-slogan {
    width: 800px;
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 44px;
    padding-bottom: 44px;
    padding-right: 30px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.section1, .section2, .section3, .section4{
    height: 372px;
}

.text-selected {
    background-color: white;
    color:  #f1ad1d;
    padding: 41px 30px;
}

.section-title{
    font-family: Montserrat, sans-serif;
    color:  #333333;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 35px;
}

.section-description{
    font-family: Lato, sans-serif;
    color:  #4d4943;
    font-size: 17px;
    margin-bottom: 52px;
    text-align: center;
}

.decoration-underline::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    border: none;
    background-color: #f1ad1d;
    margin: 52px auto 0;
}

.parallax2 {
    background-image: url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 150px 0;
}

.section-title.text-white {
    color: #ffffff;
}

.section-title.text-white.decoration-underline::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    border: none;
    background-color: #f1ad1d;
    margin: 52px auto 0;
}

.text-selected1 {
    color:  #f1ad1d;
    }

.parallax3 {
    background-image: url("../img/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.partner-list{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;    
}

.partner-list img {
    margin-left: 50px;
}

.National-Post{
    
}

.House-Home{
    
}


.parallax4 {
    background-image: url("../img/bg4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 150px 0;
}

.section-lasttitle{
    font-family: "Montserrat", sans-serif;
   color:  #ffffff;
    font-size: 18px;
    text-align: center;
     line-height: 30px;
    margin-top: 90px;

}

.section-lasttitle::after{
    content: "";
    display: block;
    width: 280px;
    height: 3px;
    border: none;
    background-color: #ffffff;
    margin: 52px auto 0;
}





